<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>志愿者管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/resources/css/public.css" media="all" />
    <link rel="stylesheet" href="/resources/layui_ext/dtree/dtree.css" media="all" />
    <link rel="stylesheet" href="/resources/layui_ext/dtree/font/dtreefont.css" media="all" />

</head>
<body class="childrenBody">
<!-- 查询条件开始 -->
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;" shiro:hasPermission="user:view">
    <legend>查询条件</legend>
</fieldset>
    <form action="" method="post" id="searchFrm" lay-filter="searchFrm" class="layui-form layui-form-pane" shiro:hasPermission="user:view">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">活动名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="name"    autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">活动地址</label>
                <div class="layui-input-inline">
                    <input type="text" name="address"    autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="doSearch"><span class="layui-icon layui-icon-search"></span>查询</button>
                <button type="reset" onclick="javascript:document.getElementById('search_deptid').value=''" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh-1"></span>重置</button>
            </div>
        </div>
    </form>
<!-- 查询条件结束-->


<!-- 数据表格开始 -->
<div>
    <table class="layui-hide" id="userTable" lay-filter="userTable"></table>
    <div id="userToolBar" style="display: none;">
        <button type="button" lay-event="add" class="layui-btn layui-btn-sm" shiro:hasPermission="user:create"><span class="layui-icon layui-icon-add-1"></span>添加活动</button>
    </div>

    <div id="userRowBar" style="display: none;">
        <button type="button" lay-event="update" class="layui-btn layui-btn-sm" shiro:hasPermission="user:update"><span class="layui-icon layui-icon-edit"></span>更新</button>
        <button type="button" lay-event="delete" class="layui-btn layui-btn-sm layui-btn-danger" shiro:hasPermission="user:delete"><span class="layui-icon layui-icon-delete"></span>删除</button>
        <button type="button" lay-event="resetPwd" class="layui-btn layui-btn-sm" shiro:hasPermission="user:resetPwd"><span class="layui-icon layui-icon-edit"></span>重置密码</button>
        <button type="button" lay-event="selectRole" class="layui-btn layui-btn-sm layui-btn-danger" shiro:hasPermission="user:selectRole"><span class="layui-icon layui-icon-delete"></span>分配角色</button>
    </div>
</div>

<!-- 数据表格结束 -->

<!-- 添加和修改的弹出层开始 -->
<div style="display: none;padding: 5px" id="addOrUpdateDiv">
    <form action="" method="post" class="layui-form layui-form-pane" id="dataFrm" lay-filter="dataFrm" contentType="application/json">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">活动名称</label>
                <div class="layui-input-inline">
                    <input type="hidden" name="id">
                    <input type="text" name="name" id="deptid" lay-verify="required"  autocomplete="off" placeholder="请输入活动名称" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">活动人数</label>
                <div class="layui-input-inline">
                    <input type="hidden" name="id">
                    <input type="text" name="totalNum" id="ordernum" lay-verify="required|number"  autocomplete="off" placeholder="请活动人数[>0]" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">开始时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="startDate" id="startTime" readonly="readonly" placeholder="yyyy-MM-dd HH:mm:ss" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">结束时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="endDate" id="endTime"  readonly="readonly" placeholder="yyyy-MM-dd HH:mm:ss" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">活动地址</label>
            <div class="layui-input-block">
                <input type="text" name="address"  autocomplete="off" placeholder="请输入活动地址" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">活动内容</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" name="remark" id="content"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">活动性别</label>
                <div class="layui-input-inline">
                    <input type="radio" name="sex" value="1" title="男" checked="">
                    <input type="radio" name="sex" value="0" title="女" >
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">是否可用</label>
                <div class="layui-input-inline">
                    <input type="radio" name="isChecked" value="1" title="可用" checked="">
                    <input type="radio" name="isChecked" value="0" title="不可用" >
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="doSubmit" ><span class="layui-icon layui-icon-add-1"></span>提交</button>
                <button type="reset" onclick="javascript:document.getElementById('deptid').value=''" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh-1"></span>重置</button>
            </div>
        </div>
    </form>
</div>
<!-- 添加和修改的弹出层结束 -->


<!-- 活动分配角色弹出层  开始 -->
<div style="display: none;padding: 5px" id="selectUserRoleDiv">
    <table class="layui-hide" id="roleTable" lay-filter="roleTable"></table>
</div>


<!-- 活动分配角色弹出层  结束 -->


<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script type="text/javascript">
    var tableIns;
    layui.extend({
        dtree: '/resources/layui_ext/dtree/dtree'   // {/}的意思即代表采用自有路径，即不跟随 base 路径
    }).use(['jquery','form','table','layer','laydate'],function(){
        var $=layui.jquery;
        var form=layui.form;
        var table=layui.table;
        var layer=layui.layer;
        var dtree=layui.dtree;
        var laydate=layui.laydate;
        //初始化时间选择器
        laydate.render({
            elem:'#startTime',
            type:'datetime'
        });
        laydate.render({
            elem:'#endTime',
            type:'datetime'
        });
        //加载 数据
        tableIns=table.render({
            elem: '#userTable'
            ,url:'/web/task/list'
            ,toolbar: '#userToolBar' //开启头部工具栏，并为其绑定左侧模板
            ,title: '活动数据表'
            ,height:'full-250'
            ,page: true
            ,cols: [ [
                {field:'id', title:'ID',align:'center',width:'60',hide:true}
                ,{field:'name', title:'活动名称',align:'center',width:'200'}
                ,{field:'address', title:'活动地址',align:'center',width:'200'}
                ,{field:'startDate', title:'开始时间',align:'center',width:'180'}
                ,{field:'endDate', title:'结束时间',align:'center',width:'180'}
                ,{field:'totalNum', title:'总人数',align:'center',width:'120'}
                ,{field:'signedNum', title:'参加人数',align:'center',width:'120'}
                ,{field:'content', title:'活动内容',align:'center',width:'280'}
                ,{fixed: 'right', title:'操作', toolbar: '#userRowBar',align:'center',width:'400'}
            ] ]
            ,done: function(res, curr, count){ //处理删除某一页最后一条数据的BUG
                if(res.data.length==0&&curr!=1){
                    tableIns.reload({
                        page:{
                            curr:(curr-1)
                        }
                    });
                }
            }
        });

        //模糊查询
        form.on("submit(doSearch)",function(data){
            tableIns.reload({
                where:data.field,
                page:{
                    curr:1
                }
            });
            return false;
        });

        //监听工具条的事件
        table.on("toolbar(userTable)",function(obj){
            switch(obj.event){
                case 'add':
                    openAddLayer();
                    break;
            };
        });

        //监听行工具条的事件
        table.on("tool(userTable)",function(obj){
            var data = obj.data; //获得当前行数据
            switch(obj.event){
                case 'update':
                    openUpdateUserLayer(data);
                    break;
                case 'delete':
                    deleteUser(data);
                    break;
                case 'resetPwd':
                    resetPwd(data);
                    break;
                case 'selectRole':
                    selectRole(data);
                    break;
            };
        });

        var mainIndex;
        var url;
        //打开添加的弹出层
        function openAddLayer(){
            mainIndex=layer.open({
                type:1,
                content:$("#addOrUpdateDiv"),
                area:['800px','600px'],
                title:'添加活动',
                success:function(){
                    $("#dataFrm")[0].reset();
                    $("#deptid").val("");
                    url="/web/task/save";
                    var html="<option value='0'>请选择直属领导</option>";
                    $("#mgr").html(html);
                    form.render("select");
                }
            });
        }

        //打开修改的弹出层
        function openUpdateUserLayer(data){
            mainIndex=layer.open({
                type:1,
                content:$("#addOrUpdateDiv"),
                area:['800px','600px'],
                title:'修改活动',
                success:function(){
                    $("#dataFrm")[0].reset();
                    $("#deptid").val("");
                    //装载新的数据
                    form.val("dataFrm",data);
                    //选中之前的所属部门  nodeId=data.deptid;

                    //选中领导部门
                    var leaderid=data.mgr;
                    $.get("/user/loadUserById",{id:leaderid},function(res){
                        var d=res.data;
                        $.get("/user/loadUsersByDeptId",{deptid:d.deptid},function(res){
                            var users=res.data;
                            var dom_mgr=$("#mgr");
                            var html="<option value='0'>请选择直属领导</option>";
                            $.each(users,function(index,item){
                                html+="<option value='"+item.id+"'>"+item.name+"</option>";
                            });
                            dom_mgr.html(html);
                            //选中一个
                            dom_mgr.val(leaderid);
                            //重新渲染
                            form.render("select");
                        });
                    })
                    url="/user/updateUser";
                }
            });
        }
        form.on("submit(doSubmit)",function(data){
            $.post(url,
                data.field,
                function(res) {
                if(res.code==200){
                    tableIns.reload();
                }
                layer.msg(res.msg);
                layer.close(mainIndex);
            })
            return false;
        })
        //删除
        function deleteUser(data){
            layer.confirm('你确定要删除【'+data.name+'】这条活动吗?', {icon: 3, title:'提示'}, function(index){
                //查询该活动是否是其他活动的直属领导，如果是，提示删除失败
                $.get("/user/queryMgrByUserId", {id: data.id}, function (res) {
                    if (res.code==-1){
                        layer.msg(res.msg);
                    }else{
                        $.post("/user/deleteUser",{id:data.id},function(res){
                            if(res.code==200){
                                tableIns.reload();
                            }
                            layer.msg(res.msg);
                        })
                        layer.close(index);
                    }
                });
            });
        }



        //重置密码
        function resetPwd(data){
            layer.confirm('你确定要重置【'+data.name+'】这个活动密码吗?', {icon: 3, title:'提示'}, function(index){
                $.post("/user/resetPwd",{id:data.id},function(res){
                    layer.msg(res.msg);
                })
                layer.close(index);
            });
        }









        //监听活动名的失去焦点事件
        $("#username").on("blur",function(){
            var username=$(this).val();
            $.get("/user/changeChineseToPinyin",{username:username},function(res){
                $("#loginname").val(res.value);
            })
        });


        //打开分配角色的弹出层
        function selectRole(data){
            mainIndex=layer.open({
                type:1,
                content:$("#selectUserRoleDiv"),
                area:['800px','600px'],
                title:'分配【'+data.name+'】的角色',
                btn: ['<span class=layui-icon>&#xe605;确认分配</span>', '<span class=layui-icon>&#x1006;关闭窗口</span>'],
                yes: function(index, layero){
                    var checkStatus = table.checkStatus('roleTable');
                    var params="uid="+data.id;
                    $.each(checkStatus.data,function(index,item){
                        params+="&ids="+item.id;
                    });
                    $.post("/user/saveUserRole",params,function(res){
                        layer.msg(res.msg);
                    })
                },
                btn2: function(index, layero){
                    //return false 开启该代码可禁止点击该按钮关闭
                },
                btnAlign: 'c',
                success:function(){
                    initRoleTable(data);
                }
            });
        }
        var roleTableIns;
        //初始化角色列表
        function initRoleTable(data){
            roleTableIns=table.render({
                elem: '#roleTable'
                ,url:'/user/initRoleByUserId'
                ,where:{
                    id:data.id
                }
                ,cols: [ [
                    {type:'checkbox',align:'center'}
                    ,{field:'id', title:'ID',align:'center'}
                    ,{field:'name', title:'角色名称',align:'center'}
                    ,{field:'remark', title:'角色备注',align:'center'}
                ] ]
            });
        }
    });
</script>

</body>
</html>